
  <div class="row"><div class="col-md-4">
      
    
  </div>
  
    <div class="col-md-4">
        <div class="alert alert-success alert-dismissible" [hidden]="responseStatus">
      
            <a (click)="CloseAlert()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{ message }}.
        
          </div>
      
          <div class="alert alert-warning alert-dismissible" [hidden]="responseStatusError">
            
              <a (click)="CloseAlertError()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Error!</strong> {{ message }}.
          
            </div>
        <div class="well align-items-center" [@list1]>
            <h4 class="text-center"> Enter Registration Details</h4>
           
       <form class="form" [formGroup]="loginEmpForm">
         <div class="form-group">
           <label  for="username"> Username:</label>
           <input type="text" formControlName="username" class="form-control" id="username">
         </div>
         <div class="form-group">
           <label for="password">Password:</label>
           <input type="password" formControlName="password" class="form-control" id="password">
         </div>
        
         <div class="btn-toolbar text-center well">
         <button type="button"  class="btn btn-success" (click)="OnRegisterClick()" >Register</button>

         <button type="button"  class="btn btn-info pull-right" (click)="loginForm.reset()" >Cancel</button>
         
       </div>
       </form>
     </div>
    </div>
  </div>
  